<!-- About Us Component Template -->
<div class="p-grid p-justify-center w-100 p-align-center">
  <div class="p-col-12 p-md-12 p-lg-12">
    <p-card header="About Us" class="p-text-center">
      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-text-left p-d-flex p-flex-column p-jc-center">
          <h2>Welcome to Our Company</h2>
          <p>This project has been a valuable learning experience, providing me with insight into the lifecycle of Angular and its various capabilities. Through this, I've discovered that Angular is a powerful framework.</p>
          <button pButton type="button" label="Learn More" class="p-mt-2" routerLink="/home"></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
