<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid pb-6 border-bottom-1 border-300">
    <div class="col-12 md:col-4">
      <div class="text-900 font-bold line-height-3 mb-3" >Resources</div>
      <a class="text-700 block cursor-pointer line-height-3 mb-2" routerLink="/">Home</a>
      <a class="text-700 block cursor-pointer line-height-3 mb-2" routerLink="/about">About</a>
      <a class="text-700 block cursor-pointer line-height-3 mb-2" routerLink="/products">Products</a>
      <a class="text-700 block cursor-pointer line-height-3" routerLink="/contact">Contact</a>
    </div>

    <div class="col-12 md:col-4">
      <div class="text-900 font-bold line-height-3 mb-3">Contact Info</div>
      <p class="text-700 block cursor-pointer line-height-3">
        <span class="pi pi-home mr-1"></span> Amman Jordan
      </p>
      <p class="text-700 block cursor-pointer line-height-3">
        <span class="pi pi-envelope mr-1"></span> angular&#64;outlook.com
      </p>
      <p class="text-700 block cursor-pointer line-height-3">
        <span class="pi pi-phone mr-1"></span> +(962) 000 000 000
      </p>
    </div>

    <div class="col-12 md:col-4">
      <div class="text-700 line-height-3 mb-3">
        Join our community to get weekly updates and unique gifts every Friday.
      </div>
      <input pinputtext="" placeholder="Enter your email"
             class="p-inputtext p-component p-element border-round border-400 p-3 mb-3 w-full">
      <button pbutton="" pripple="" label="Join" class="p-element p-ripple px-5 py-3 p-button p-component">
        <span class="p-button-label">Join</span>
        <span class="p-ink"></span>
      </button>
    </div>
  </div>
</div>
